body {
  color: black;
  background-color: rgb(232, 221, 238);
  font-family: papyrus, fantasy;
  font-weight: 10px;
  font-size: 1.2em;
}
h1 {
  color: rgb(214, 62, 62);
  font-family: cursive;
}
h2 {
  color: rgb(26, 26, 230);
}
h3 {
  color: rgb(86, 153, 91);
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bolder;
}
